.reply{
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 30%;
    min-width: 300px;
    margin-bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    .submit{
        display: flex;
        margin-top: 0 auto;
    }
}